.m-container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    border: none;
    margin: 12px;
}
.card-body{
    padding: 0px;
}
.border{
    border: 1px solid black;
    padding: 12px;
    border-radius: 6px;
}
.red{
    color: #b23221;
}
.bold{
    font-weight: bold;
}
.card-link{
    margin:2px!important;
    word-break: normal;
}
.card-subtitle{
    font-weight: bold;
    font-size: 18px;
}
.red-border{
    background-color: #fef8f2;
    border: 1px solid #e7762e!important;
}